.button-nav-container {
    margin-right: 32px;
    cursor: pointer;

    .button-nav-content {
        span {
            font: inherit;
            font-size: 18px;
            --tw-text-opacity: 1;
            color: rgb(17 17 17 / var(--tw-text-opacity, 1));
            font-weight: 300;
            line-height: 1.5;
            white-space: inherit;
        }
    }
    .active {
        border-radius: 32px;
        padding: 5px 9px;
        --tw-bg-opacity: 1;
        background-color: rgb(255 196 25 / var(--tw-bg-opacity, 1));
        span {
            color: #FFF3D1;
            font-weight: 700;
        }
    }
}