.login-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
}
.login-background .login-container {
  padding: 0 3rem;
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 70%;
  background-color: #FFFFFF;
  border-radius: 25px;
}
.login-background .login-container .login-content .headerTitle {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 700;
}
.login-background .login-container .login-content .login-input {
  padding-top: 2rem;
}
.login-background .login-container .login-content .login-input .label-input {
  padding-left: 28px;
  color: rgba(187, 187, 187, 0.9);
}
.login-background .login-container .login-content .login-input input {
  padding-left: 1.8rem;
  padding-bottom: 1rem;
  font-size: 1.3rem;
  border: none;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}
.login-background .login-container .login-content .login-input input:focus {
  box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
  outline: none;
}
.login-background .login-container .login-content .login-input input:hover::-webkit-input-placeholder, .login-background .login-container .login-content .login-input input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.login-background .login-container .login-content .login-input input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}
.login-background .login-container .login-content .login-input .password-input-wrapper {
  position: relative;
}
.login-background .login-container .login-content .login-input .password-input-wrapper i {
  position: absolute;
  padding: 16px;
  right: 12px;
  top: -2px;
}
.login-background .login-container .login-content .login-input .password-input-wrapper i:hover {
  cursor: pointer;
}
.login-background .login-container .login-content .login-btn {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.login-background .login-container .login-content .login-btn button {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
  background: rgb(34, 193, 195);
  background: linear-gradient(90deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
  transition: opacity 0.25s ease-out;
  color: white;
}
.login-background .login-container .login-content .login-btn button:hover {
  opacity: 0.8;
}
.login-background .login-container .login-content .forgot-password {
  float: inline-end;
  font-size: 12px;
  margin-right: 4px;
}
.login-background .login-container .login-content .forgot-password:hover {
  cursor: pointer;
}
.login-background .login-container .login-content .alternativeLogin {
  text-align: center;
  padding-top: 2rem;
  margin-top: 1.5rem;
}
.login-background .login-container .login-content .alternativeLogin label {
  font-size: 16px;
}
.login-background .login-container .login-content .alternativeLogin .icon-social-group {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.login-background .login-container .login-content .alternativeLogin .icon-social-group .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: white;
}
.login-background .login-container .login-content .alternativeLogin .icon-social-group .social-icon:hover {
  cursor: pointer;
}
.login-background .login-container .login-content .alternativeLogin .icon-social-group .google-icon {
  margin: 0 8px;
  font-size: 24px;
  background-color: #ed3c35;
}
.login-background .login-container .login-content .alternativeLogin .icon-social-group .facebook-icon {
  margin: 0 8px;
  font-size: 24px;
  background-color: #37559b;
}
.login-background .login-container .login-content .alternativeLogin .icon-social-group .twitter-icon {
  margin: 0 8px;
  font-size: 24px;
  background-color: #259eee;
}/*# sourceMappingURL=Login.css.map */